{% extends "base.html" %}
{% block content %}
	<div class="row mt-2">
    <div class="col-6 mx-auto">
        <div class="card mb-3">
            <div class="card-header text-bg-danger">Delete author {{ author.fullname }}</div>
            <div class="card-body">
                <div class="alert alert-info" role="alert">
                    Wherever this author {{ author.fullname }} is used, it is replaced by NULL.
                </div>
                <p>Are you sure that you want to delete author {{ author.fullname }}</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" value="Confirm delete" class="btn btn-danger col-4">
                </form>
            </div>
        </div>
        <a href="{% url "booksapp:author_list" %}">Back to list of authors</a>
    </div>
    </div>
{% endblock %}