{% extends 'base.html' %}

{% block content %}
	<div class="row">
    <div class="col-5 mx-auto">
        <h3>Add a new book</h3>
        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
            	<div class="form-field">
                    <label for="{{ field.id_for_label }}" class="fw-bold">{{ field.label }}</label>
                    {# Show errors IF #}
                    {% for error in field.errors %}
                    	{% if field.errors %}
                    		<div class="alert alert-danger mt-1">
                                {{ error }}
                            </div>
                    	{% endif %}
                    {% endfor %}
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Confirm" class="btn btn-primary mt-2">
        </form>
    </div>
    </div>
{% endblock %}