{% extends 'base.html' %}
{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h3>Show books</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="text-center">
                        <th>Books</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {# default is object_list (book) must be views.py #}
                        {% for book in object_list %}
                            <tr class="text-center">
                            <td>{{ book.title }}</td>
                            <td>
                                <a href="{% url "booksapp:book_detail" pk=book.id %}" class="text-warning">Detail</a>
                                {% if user.is_authenticated %}
                                <a href="{% url 'booksapp:book_form_update' pk=book.id %}">Update</a>
                                <a href="{% url "booksapp:book_delete" pk=book.id %}" class="text-danger">Delete</a>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'booksapp:book_form' %}">Add a new book</a>
            </div>
        </div>
    </div>
{% endblock %}